.costs-header {
  display: flex;
  align-items: center;
  margin: 48px 24px 24px;
}

.title {
  flex: 1;
  color: #058fcb;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.currency {
  margin: 0 8px 0;
  font-weight: 500;
  color: #435760;
}
